/*------------------------------------*\
    * @file
    * Sidebar.
\*------------------------------------*/

.sidebar {
  background-color: #312e2e;
  position: fixed;
  top: 0;
  left: -100%;
  right: 0;
  display: block;
  z-index: 1;
  width: 100%;
  bottom: 0px;
  @include breakpoint($mobile) {
    bottom: 0;
    #block-views-block-employee-profile-block-1 {
      display: flex;
      @include breakpoint($mobile) {
        width: 40%;
        margin: 0 auto;
        .view {
          width: 100%;
        }
      }
      @include breakpoint($tablet) {
        width: 100%;
      }
    }
  }
  button.cross {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 70px;
    padding: 0;
    background: none;
    border: none;
    color: floralwhite;
    outline: none;
    @include breakpoint($tablet){
      display: none;
    }
  }
  #block-ems2k17-main-menu ul.menu {
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 35px;
    @include breakpoint($mobile) {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 22px;
    }
    @include breakpoint($tablet) {
      flex-direction: column;
      flex-wrap: nowrap;
      margin-top: 66px;
      margin-bottom: 50px;
    }
    li.menu-item {
      text-align: left;
      padding: 12px 40px;
      @include breakpoint($mobile) {
        width: 50%;
      }
      @include breakpoint($tablet) {
        width: 100%;
        padding: 20px 10px;
      }
      @include breakpoint($widedesktop) {
        padding: 14px 30px;
      }
      a {
        color: #D8D8D8;
        text-decoration: none;
        font-size: 17px;
      }
    }
  }
  .views-row {
    text-align: center;
    color: #D8D8D8;
    font-size: 16px;
    @include breakpoint($tablet) {
      font-size: 20px;
      display: flex;
      flex-direction: column;
    }
    word-spacing: 3px;
    line-height: 1.2;
    font-style: oblique;
    font-family: serif;
    margin-top: 20px;
    .views-field {
      @include breakpoint($mobile) {
        padding: 5px;
      }
    }
    .views-field-user-picture {
      width:30%;
      height: 70%;
      margin: 0 auto;
      @include breakpoint($mobile) {
      float: left;
      width: 40%;
      }
      @include breakpoint($tablet) {
        width: 55%;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  .front {
    a:before {
      content: '\f015';
      @include sidebar-icons;
    }
  }
  .investment-slip {
    a:before {
      @include sidebar-icons;
      content: "\f15c";
    }
  }
  .salary-slip {
    a:before {
      @include sidebar-icons;
      content: "\f0f6";
    }
  }
  .node {
    a:before {
      @include sidebar-icons;
      content: "\f14b";
    }
  }
  .year-holiday-calendar {
    a:before {
      @include sidebar-icons;
      content: "\f073";
    }
  }
  .user {
    a:before {
      @include sidebar-icons;
      content: "\f007";
    }
  }
  .calendar {
    a:before {
      @include sidebar-icons;
      content: "\f073";
    }
  }
  .userlogout {
    a:before {
      @include sidebar-icons;
      content: "\f08b";
    }
  }
  @include breakpoint($tablet) {
    width: 30%;
    position: relative;
    left: 0;
    bottom:45px;
  }
  @include breakpoint($laptop) {
    width: 20%;
  }
}






