/*------------------------------------*\
    * @file
    * Heading.
\*------------------------------------*/
.heading {
  @include breakpoint($small) {
    p {
      background-color: #5B5959;
      color: floralwhite;
      height: 100%;
      font-size: 20px;
      text-align: center;
      margin-top: -1%;
      padding: 16px;
      @include breakpoint($tablet) {
        font-size: 29px;
      }
    }
  }
}
